doctype html
html
  head
  
    title #{title} Questionnaire    
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |     
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    |     
    meta(name='author', content='')
    // Bootstrap core CSS
    link(rel='stylesheet',href='/stylesheets/bootstrap.css' )
    // Custom styles for this template
    link(rel='stylesheet',href='/stylesheets/style.css' )
  body
           
           .class
            
                img.logo(src='/images/main.png')
                        
                  
            nav
                ul
                 
                    li(class=(title==='Home' ? 'active' : ''))
                        a(href='/') Home
                    li(class=(title==='About' ? 'active' : ''))
                        a(href='/about') Repository
                    li(class=(title==='Chat Room' ? 'active' : ''))
                        a(href='/users/chat') Chat Room
                    li(class=(title==='Contact' ? 'active' : ''))
                        a(href='/contact') Contact
                    
                if !user
                    li(class=(title==='Details' ? 'active' : ''))
                        a(href='/users/details') Members
                    li(class=(title==='Register' ? 'active' : ''))
                        a(href='/users/register') Register
                    li(class=(title==='Login' ? 'active' : ''))
                        a(href='/users/login') Login
                   
                if user    
                    li(class=(title==='Details' ? 'active' : ''))
                        a(href='/users/details') Details                                
                    li(class=(title==='Questions' ? 'active' : ''))
                        a(href='/posts/add') Questions
                    li(class=(title==='Categories' ? 'active' : ''))
                        a(href='/categories/add') Categories
                    li(class=(title==='Logout' ? 'active' : ''))
                        a(href='/users/logout') Logout
            !=messages()
        .container 
            block content
 
            footer.footer
                P &copy; 2017, All Rights Reserved
    