head
  meta(charset='utf-8')
    |         
    title Input Tags
    |         
    link(rel='stylesheet', href='tags.css')
  |     
  body
    p
      | Enter some tags:
    |         
    p
      .tags-input(data-name='tags-input')
        //
          <span class="tag">CSS<span class="close"></span></span>
          <span class="tag">JavaScript<span class="close"></span></span>
          <span class="tag">HTML<span class="close"></span></span>
    |         
    